@model Filminurk.Models.Accounts.ConfirmEmailViewModel

@{
	ViewData["Title"] = "Confirm your Email";
}
<h1>Kinnita enda email</h1>
<hr />
<h3>Emailile @Model.Email on saadetud kinnituslink, mine enda emaili ja vajuta kinnituslingi peale.</h3>