@model IEnumerable<Filminurk.Models.UserComments.UserCommentsIndexViewModel>

@{
	int rowNumber = 1;
}

<div>
	<a asp-action="NewComment" asp-controller="UserComments" type="submit" class="btn btn-primary">Make new comment</a>
	
</div>