@model Filminurk.Models.FavouriteLists.FavouriteListIndexImageViewModel

<div>
	@if (!Model.Image.Any())
	{
		<p>Pilte pole</p>
	}
</div>
@if (Model.ImageTitle == "Poster")
{
	<img class="card-img-top" src="@Model.Image" asp-append-version="true"/>
}
else
{
	<img width="128" src="~/lib/defaultAssets/image/noposter.png" />
}